{% extends 'base.html' %}

{% block title %}プロフィール | {{ block.super }}{% endblock %}
{% block content %}
        <div class="md:mx-20">
        <h2 class="text-2xl font-bold m-4">{{ user.username }}さんのプロフィール</h2>

        <div class="flex flex-col md:flex-row items-start justify-center gap-10">
            <div class="w-80 bg-white shadow-lg rounded-lg p-4 mb-6">
                <h3 class="text-xl font-bold mb-6">検索履歴</h3>
                {% if search_history %}
                    <ul class="list-decimal ml-6">
                    {% for history in search_history %}
                        <li><a href="{{ history.search_url }}" class="text-neutral-500 hover:text-neutral-700   hover:underline">{{ history.decoded_search_term }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>検索履歴がまだありません。</p>
                {% endif %}
            </div>
            <div class="w-80 bg-white shadow-lg rounded-lg p-4 mb-6">

                <h3 class="text-xl font-bold mb-6">レビュー履歴</h3>
                {% if review_history %}
                <ul class="list-decimal ml-6">
                    {% for history in review_history %}
                        <li><a href="{{ history.review_url }}" class="text-neutral-500 hover:text-neutral-700 hover:underline">{{ history.review.book.title }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>レビューした本はまだありません。</p>
                {% endif %}
            </div>
        </div>
        <div class="text-sm leading-20 text-neutral-400">
            <ul class="list-disc md:ml-10">
                <li>検索履歴の項目をクリックすると検索結果のページに移動します。</li>
                <li>レビュー履歴の項目をクリックするとレビューが掲載された本の詳細ページに移動します。</li>
            </ul>
        </div>
        </div>
{% endblock %}