{% extends 'base.html' %}
{% block title %}
ログイン | {{ block.super }}
{% endblock %}
{% block content %}
<div class="max-w-md mx-auto w-full mt-10">

<div class="max-w-md mx-auto w-full mt-10">


    <div class="max-w-md mx-auto w-full mt-10">
        <h2 class="text-2xl font-bold mb-4">ログイン</h2>
        <form method="post" action="/account/login/">
            {% csrf_token %}

        <div id="div_id_login" class="mb-3"> 
            <label for="id_login" class="block text-gray-700 text-sm font-bold mb-2">
            メールアドレス<span class="asteriskField">*</span> 
            </label> 
            <input type="email" name="login" placeholder="メールアドレス" autocomplete="email" maxlength="320" class="emailinput px-4 rounded-lg border text-gray-700 focus:outline-none bg-white w-full appearance-none border-gray-300 block py-2 leading-normal" required id="id_login"> 
        </div>
        <div id="div_id_password" class="mb-3"> 
            <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">
            パスワード<span class="asteriskField">*</span> 
            </label> 
            <input type="password" name="password" class="border border-gray-300 p-2 rounded w-full passwordinput px-4 rounded-lg border text-gray-700 focus:outline-none bg-white w-full appearance-none border-gray-300 block py-2 leading-normal" required aria-describedby="id_password_helptext" id="id_password"/>
        </div>
            <div class="flex flex-col md:flex-row items-baseline gap-6 ">              
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">ログイン</button>
                <p id="id_password_helptext" class="text-blue-600 hover:text-blue-800 hover:underline"><a href="{% url 'account_reset_password' %}">パスワードをお忘れですか?</a></p> 
            </div>
        </form>
    </div>
</div>
    </div>
</div>
{% endblock %}
