{% extends "base.html" %}

{% block title %}検索ページ{% endblock %}

{% block content %}
<div class="flex justify-center my-8">
    <div class="w-full max-w-lg">
        <h1 class="text-2xl font-bold mb-4">検索</h1>
        <form method="get" action="{% url 'search_results' %}">
            <input type="text" name="q" class="w-full border rounded px-3 py-2" placeholder="作品名、著者名で検索">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-2">検索</button>
        </form>
    </div>
</div>
{% endblock %}