{% extends 'base.html' %}
{% block title %}
レビュー投稿フォーム | {{block.super}}
{% endblock %}
{% load tailwind_filters %}
{% block content %}
    <div class="min-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg w-full h-full p-4 mx-auto mt-6">
        <h2 class="text-2xl font-bold mb-4">レビューを{% if is_edited %}編集{% else %}投稿{% endif %}</h2>
        <form method="post" action="{% if is_edited %}{% url 'review_edit' book_id=book_id review_id=review_id %}{% else %}{% url 'review_create' book_id=book_id %}{% endif %}?{{ search_query }}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">投稿</button>
        </form>
        {% if search_query %}
        <p><a href="{% url 'book_detail' pk=book_id %}?{{ search_query }}" class="text-blue-500 hover:underline">本の詳細画面に戻る</a></p>
        {% else %}
        <p><a href="{% url 'index' %}" class="text-blue-500 hover:underline">ホームページに戻る</a></p>
        {% endif %}
    </div>
{% endblock %}
