<!doctype html>
<html lang="ja">
{% load static tailwind_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body, html {
            height: 100%;
        }
        .content {
            min-height: calc(100vh - 400px);
        }
        .footer {
            height: 100px;
        }
    </style>
   {% tailwind_css %}
    <title>{% block title %}Aozora Bunko Reviews{% endblock %}</title>
</head>
<body class="height: 100% m-0 flex flex-col">
    {% load static %}
    <header class="flex bg-blue-600 md:px-20 py-4 gap-4 flex-col md:flex-row justify-between items-center">
        <img src="{% static 'site_logo.png' %}" alt="サイトのロゴ">
        <div class="text-md md:hidden text-white"><a href="#">Sign Up</a> | <a href="#">login</a></div>
        <div class="hidden md:block text-md md:text-lg text-white"><a href="#">Sign Up</a> | <a href="#">login</a></div>
    </header>
{% block content %}
    <div class="flex 1">
    
    </div>
{% endblock %}
<div class="mt-auto h-[30px] bg-blue-800 flex justify-between text-white md:px-20 pt-2 pb-4 text-sm">
    <div>Copyright © Hiroaki Satou</div>
    <div class="flex gap-4 ">
        <a class="text-white hover:text-neutral-300 active:text-neutral-600" href="{% url 'index' %}">Home</a>
        <a class="text-white hover:text-neutral-300 active:text-neutral-600" href="{% url 'about' %}">サイト運営者について</a>
    </div>
</div>
</body>
</html>